<app-search></app-search>

<ul>
    <li *ngFor="let food of foods">
        <a (click)="openProperty(food.id,dialog)">
            <img src="{{food.imageUrl}}" >
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
                <span class="favoutite {{food.favorite}}?'red':'not'"> ♥</span>
                <span style="float: right;">Price ${{food.price}}</span>
                
            </div>
        </a>
        <input type="button" value="Add To Cart" (click)="addToCart(food)"/>
    </li>
</ul>


<dialog #dialog>
    <app-dialog *ngIf="showProp"></app-dialog>  
</dialog>
