ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a {
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    color: #727272;
    overflow: hidden;
    flex-direction: column;
}

ul li a img {
    height: 15rem;
    width: 20rem;
}

ul li a:hover {
    opacity: 0.7;
    cursor: pointer;
}

html {
    font-size: 14px;
}

.content {
 padding:2px;
 position: relative;
}

dialog {
    height: 20rem;
    width:20rem;
    top:15rem;
}